<!DOCTYPE html>
<meta charset="utf-8">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
<style>
    font-family: 'Ubuntu',
    sans-serif;

    body {
        font-family: 'Architects Daughter', cursive;
    }

    svg {
        position: relative;
        z-index: 0;
    }

    #id2 {
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-size: 26px;
        z-index: 1;
        color: red;
    }


    .nodes,
    .labels:hover {
        cursor: pointer;
    }
</style>

<body onload="init()" style="background-color: ;">


    <div id="container">
        <nav class="navbar navbar-light bg-light p-3">
            <a class="navbar-brand" href="/">
                Ontology
            </a>
        </nav>
        <form class="form-inline " style="padding: 10px;">
            <div class="row">
                <div class="col-10"> <input class="form-control mr-sm-2" type="text" placeholder="Search"
                        aria-label="Search" id="search"></div>
                <div class="col-2"><button class="btn btn-outline-success my-2 my-sm-0" type="button"
                        style="width: 130px;" onclick=query_dataset()>Search</button></div>
            </div>
        </form>

        <div class="container-fluid">
            <div class="row">
                <div class="col-9" id="">

                    <svg style="display: block;background: aquamarine;"></svg>
                </div>
                <div class="col-3">
                    <div style="padding:10px">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%;">
                                Search Engine
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 100%;">
                                <div class="dropdown-item">Action</div>
                                <div class="dropdown-item" href="#">Another action</div>
                                <div class="dropdown-item" href="#">Something else here</div>
                            </div>
                        </div>
                        <div>
                            <div class="form-check p-3 m-3 ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Publisher
                                </label>
                            </div>

                        </div>
                        <div>
                            <p>History</p>
                            <div style="width:100%;height:300px;line-height:3em;overflow:auto;padding:5px;">
                                This 'div' element contains more content than the previous one. Because there's too much
                                text to fit into the box, the box grows scrollbars.
                                This 'div' element contains more content than the previous one. Because there's too much
                                text to fit into the box, the box grows scrollbars.
                                This 'div' element contains more content than the previous one. Because there's too much
                                text to fit into the box, the box grows scrollbars.
                                This 'div' element contains more content than the previous one. Because there's too much
                                text to fit into the box, the box grows scrollbars.
                                This 'div' element contains more content than the previous one. Because there's too much
                                text to fit into the box, the box grows scrollbars.
                                This 'div' element contains more content than the previous one. Because there's too much
                                text to fit into the box, the box grows scrollbars.
                                This 'div' element contains more content than the previous one. Because there's too much
                                text to fit into the box, the box grows scrollbars.
                                This 'div' element contains more content than the previous one. Because there's too much
                                text to fit into the box, the box grows scrollbars.
                                This 'div' element contains more content than the previous one. Because there's too much
                                text to fit into the box, the box grows scrollbars.
                                This 'div' element contains more content than the previous one. Because there's too much
                                text to fit into the box, the box grows scrollbars.
                                This 'div' element contains more content than the previous one. Because there's too much
                                text to fit into the box, the box grows scrollbars.
                                This 'div' element contains more content than the previous one. Because there's too much
                                text to fit into the box, the box grows scrollbars. This 'div' element contains more
                                content than the previous one. Because there's too much text to fit into the box, the
                                box grows scrollbars.

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    </div>

    <!-- modal -->
    <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl  modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"><table>
                        <tbody>
                            <tr>
                                <td>Name </td>
                                <td>:</td>
                                <td id="name">Name</td>
                            </tr>
                            <tr>
                                <td>Publisher </td>
                                <td>:</td>
                                <td id="publisher"> Value</td>
                            </tr>
                            <tr>
                                <td>Issued On </td>
                                <td>:</td>
                                <td id="issued">Value</td>
                            </tr>
                            <tr>
                                <td>Liscence </td>
                                <td>:</td>
                                <td id="liscence">Value</td>
                            </tr>
                            <tr>
                                <td>Citation </td>
                                <td>:</td>
                                <td id="citation">Value</td>
                            </tr>
                            <tr>
                                <td>Languauge </td>
                                <td>:</td>
                                <td id="languauge">Value</td>
                            </tr>
                            <tr>
                                <td>Keywords </td>
                                <td>:</td>
                                <td id="keywords">Value</td>
                            </tr>
                            <tr>
                                <td>Discription </td>
                                <td>:</td> 
                                <td id="description">Value</td>
                            </tr>
                            <tr>
                                <td>DownloadURL</td>
                                <td>:</td> 
                                <td> <a id="downloadurl">click here</a> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://d3js.org/d3.v4.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
<script>
    // $('#multi10').mdbRange({
    //     single: {
    //         active: true,
    //         value: {
    //             step: 1,
    //             symbol: ''
    //         }
    //     }
    // });

    // $('#multi11').mdbRange({
    //     single: {
    //         active: true,
    //         value: {
    //             step: 2,
    //             symbol: '$'
    //         }
    //     }
    // });
    // $('#multi12').mdbRange({
    //     single: {
    //         active: true,
    //         value: {
    //             step: 5,
    //             symbol: '&#10052;'
    //         }
    //     }
    // });// mulit range slider
    function init() {
        // chart dimensions
        var radius = 200, height = window.screen.height * 0.7, width = window.screen.width * 0.7;

        // set up svg  
        var svg = d3.select("svg")
            .attr("width", width)
            .attr("height", height)
            .call(d3.zoom().on("zoom", function () {
                svg.attr("transform", d3.event.transform)
            }))
            .append("g");

        var forceLink = d3.forceLink().id(function (d) { return d.id; });

        var simulation = d3.forceSimulation()
            .force("link", d3.forceLink().id(function (d) { return d.id; }))
            .force("charge", d3.forceManyBody().strength(-5))
            .force("center", d3.forceCenter(width / 2, height / 2));

        function vizualize(error, graph) {

            var link = svg.append("g")
                .style("stroke", "#aaa")
                .selectAll("line")
                .data(graph.links)
                .enter()
                .append("line")
                .attr("stroke-width", function (d) { return Math.sqrt(d.value); });

            var node = svg.append("g")
                .attr("class", "nodes")
                .selectAll("circle")
                .data(graph.nodes)
                .enter().append("circle")
                .attr('class', "container")
                .attr("r", function (d) { return 5 })
                .attr('data-bs-toggle', "modal")
                .attr('data-bs-target',  "#exampleModal")
                .style("fill", function (d) {return 'white'})
                .style("stroke", function (d) { return d.stroke })
                .style("stroke-width", "0px")
                .call(d3.drag()
                    .on("start", dragstarted)
                    .on("drag", dragged)
                    .on("end", dragended))
                    .on("click", (d,e)=>{
                        document.getElementById('name').innerText = d.name;
                        document.getElementById('description').innerText = d.description;
                        document.getElementById('publisher').innerText = d.publisher.name;
                        document.getElementById('issued').innerText = d.issued;
                        document.getElementById('liscence').innerText = d.license;
                        document.getElementById('citation').innerText = d.citation;
                        document.getElementById('languauge').innerText = d.language;
                        document.getElementById('keywords').innerText = d.keyword;
                        document.getElementById('downloadurl').href = d.landingPage;
                    })

            var label = svg.append("g")
                .attr("class", "labels")
                .selectAll("text")
                .data(graph.nodes)
                .enter().append("text")
                .attr('text-anchor', 'middle')
                .attr('dominant-baseline', 'central')
                .style('font-family', 'FontAwesome')
                .style('font-size', '2px')
                .text(function (d) { return d.name; })
                .call(d3.drag()
                    .on("start", dragstarted)
                    .on("drag", dragged)
                    .on("end", dragended))
                .on('mouseover', function () {
                    console.log(this.innerHTML + " MouseOver");
                })

            simulation
                .nodes(graph.nodes)
                .on("tick", ticked);

            simulation.force("link")
                .links(graph.links);

            function ticked() {

                //update link positions
                link
                    .attr("x1", function (d) { return d.source.x; })
                    .attr("y1", function (d) { return d.source.y; })
                    .attr("x2", function (d) { return d.target.x; })
                    .attr("y2", function (d) { return d.target.y; });

                // update node positions    
                // note in this example we bound the positions
                node.attr("cx", function (d) {
                    return d.x = Math.max(radius, Math.min(width - radius, d.x));
                })
                    .attr("cy", function (d) {
                        return d.y = Math.max(radius, Math.min(height - radius, d.y));
                    });

                // update label positions
                label
                    .attr("x", function (d) { return d.x; })
                    .attr("y", function (d) { return d.y; })

            }


            // when the input range changes update the circle 
            d3.select("#id1").on("input", function () {
                var value = +this.value;
                d3.select("#id2").html(value);
            });

        }
        datasets = {{ data | safe}}
        vizualize(null, datasets)

    function dragstarted(d) {
        if (!d3.event.active) simulation.alphaTarget(0.3).restart()
        d.fx = d.x;
        d.fy = d.y;
    }

    function dragged(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
    }

    function dragended(d) {
        if (!d3.event.active) simulation.alphaTarget(0);
        d.fx = null;
        d.fy = null;
    }

    function query_dataset() {
        location.href = `/dataset/${document.getElementById("search").value}`
    }

    }

    

</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>