<!DOCTYPE html>
<meta charset="utf-8">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
<style>
    font-family: 'Ubuntu', sans-serif;
    body {
        font-family: 'Architects Daughter', cursive;
    }

    svg {
        position: relative;
        z-index: 0;
    }

    #id2 {
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-size: 26px;
        z-index: 1;
        color: red;
    }


    .nodes,
    .labels:hover {
        cursor: pointer;
    }
</style>

<body onload="init()" style="background-color: ;">
    <!-- navbar  -->
    <!-- <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown link
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->
 
    <div id="container">   
        <nav class="navbar navbar-light bg-light p-3">
            <a class="navbar-brand" href="#">
              <img src="logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
              NASA
            </a>
          </nav>
        <form class="form-inline " style="padding: 10px;">
            <div class="row">
                <div class="col-10">   <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"></div>
                <div class="col-2"><button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="width: 130px;">Search</button></div>
              </div>
          </form>        
        
              <div class="container" style="padding: 10px;">
            <div class="row">
                <div class="col-9" id="">
              
                    <svg style="display: block;background: aquamarine;"></svg>
                </div>
                <div class="col-3">
                    <div style="padding:10px"> 
                        <div class="dropdown" >
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" 
                            data-toggle="dropdown" aria-haspopup="true"
                             aria-expanded="false" style = "width: 100%;">
                              Search Engine
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style = "width: 100%;">
                              <div class="dropdown-item" >Action</div>
                              <div class="dropdown-item" href="#">Another action</div>
                              <div class="dropdown-item" href="#">Something else here</div>
                            </div>
                          </div>
                          <div>
                            <div class="form-check p-3 m-3 ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  Default checkbox
                                </label>
                              </div>
                              <div class="form-check p-3  m-3">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  Default checkbox
                                </label>
                              </div>
                              <div class="form-check p-3  m-3">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  Default checkbox
                                </label>
                              </div>
                              
                     
                          </div>
                          <!-- <div>
                           
                            <form class="multi-range-field mt-2 ">
                                <p> Text Data slider </p>
                                <input id="multi10" class="multi-range" type="range"  style = "width: 100%;" />
                              </form>
                              <form class="multi-range-field mt-2 ">
                                <p> Text Data slider </p>
                                <input id="multi11" class="multi-range" type="range"  style = "width: 100%;" />
                              </form>
                              <form class="multi-range-field mt-2  ">
                                <p> Text Data slider </p>
                                <input id="multi12" class="multi-range" type="range"  style = "width: 100%;" />
                              </form>
                          </div> -->
                          <div>
                              <p>History</p>
                              <div style="width:100%;height:300px;line-height:3em;overflow:auto;padding:5px;">
                                This 'div' element contains more content than the previous one. Because there's too much text to fit into the box, the box grows scrollbars. 
                                This 'div' element contains more content than the previous one. Because there's too much text to fit into the box, the box grows scrollbars. 
                                This 'div' element contains more content than the previous one. Because there's too much text to fit into the box, the box grows scrollbars. 
                                This 'div' element contains more content than the previous one. Because there's too much text to fit into the box, the box grows scrollbars. 
                                This 'div' element contains more content than the previous one. Because there's too much text to fit into the box, the box grows scrollbars. 
                                This 'div' element contains more content than the previous one. Because there's too much text to fit into the box, the box grows scrollbars. 
                                This 'div' element contains more content than the previous one. Because there's too much text to fit into the box, the box grows scrollbars. 
                                This 'div' element contains more content than the previous one. Because there's too much text to fit into the box, the box grows scrollbars. 
                                This 'div' element contains more content than the previous one. Because there's too much text to fit into the box, the box grows scrollbars. 
                                This 'div' element contains more content than the previous one. Because there's too much text to fit into the box, the box grows scrollbars. 
                                This 'div' element contains more content than the previous one. Because there's too much text to fit into the box, the box grows scrollbars. 
                                This 'div' element contains more content than the previous one. Because there's too much text to fit into the box, the box grows scrollbars. This 'div' element contains more content than the previous one. Because there's too much text to fit into the box, the box grows scrollbars. 
                                
                                </div>
                          </div>
                      
                        </div>
                </div>
            </div>
        </div>
     </div>
                      
    </div> 

    </div>

</body>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://d3js.org/d3.v4.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
<script>
    $('#multi10').mdbRange({
        single: {
          active: true,
          value: {
            step: 1,
            symbol: ''
          }
        }
      });
      
      $('#multi11').mdbRange({
        single: {
          active: true,
          value: {
            step: 2,
            symbol: '$'
          }
        }
      });
      $('#multi12').mdbRange({
        single: {
          active: true,
          value: {
            step: 5,
            symbol: '&#10052;'
          }
        }
      });// mulit range slider
    function init() {
        // chart dimensions
        var width = 950, height = 600, radius = 200;

        // set up svg  
        var svg = d3.select("svg")
            .attr("width", width)
            .attr("height", height)
            .call(d3.zoom().on("zoom", function () {
                svg.attr("transform", d3.event.transform)
            }))
            .append("g");

        var forceLink = d3.forceLink().id(function (d) { return d.id; });

        var simulation = d3.forceSimulation()
            .force("link", d3.forceLink().id(function (d) { return d.id; }))
            .force("charge", d3.forceManyBody().strength(-400))
            .force("center", d3.forceCenter(width / 2, height / 2));

        d3.json("test2.json", function (error, graph) {

            var link = svg.append("g")
                .style("stroke", "#aaa")
                .selectAll("line")
                .data(graph.links)
                .enter()
                .append("line")
                .attr("stroke-width", function (d) { return Math.sqrt(d.value); });

            var node = svg.append("g")
                .attr("class", "nodes")
                .selectAll("circle")
                .data(graph.nodes)
                .enter().append("circle")
                .attr("r", function (d) { return 20 })
                .style("fill", function (d) { return d.fill })
                .style("stroke", function (d) { return d.stroke })
                .style("stroke-width", "1px")
                .call(d3.drag()
                    .on("start", dragstarted)
                    .on("drag", dragged)
                    .on("end", dragended))

            var label = svg.append("g")
                .attr("class", "labels")
                .selectAll("text")
                .data(graph.nodes)
                .enter().append("text")
                .attr('text-anchor', 'middle')
                .attr('dominant-baseline', 'central')
                .style('font-family', 'FontAwesome')
                .style('font-size', '20px')
                .text(function (d) { return d.name; })
                .call(d3.drag()
                    .on("start", dragstarted)
                    .on("drag", dragged)
                    .on("end", dragended))
                .on('mouseover', function () {
                    console.log(this.innerHTML + " MouseOver");
                })
                .on('click', function () {
                    console.log(this.innerHTML + " CLick");
                });

            simulation
                .nodes(graph.nodes)
                .on("tick", ticked);

            simulation.force("link")
                .links(graph.links);

            function ticked() {

                //update link positions
                link
                    .attr("x1", function (d) { return d.source.x; })
                    .attr("y1", function (d) { return d.source.y; })
                    .attr("x2", function (d) { return d.target.x; })
                    .attr("y2", function (d) { return d.target.y; });

                // update node positions    
                // note in this example we bound the positions
                node.attr("cx", function (d) {
                    return d.x = Math.max(radius, Math.min(width - radius, d.x));
                })
                    .attr("cy", function (d) {
                        return d.y = Math.max(radius, Math.min(height - radius, d.y));
                    });

                // update label positions
                label
                    .attr("x", function (d) { return d.x; })
                    .attr("y", function (d) { return d.y; })

            }


            // when the input range changes update the circle 
            d3.select("#id1").on("input", function () {
                var value = +this.value;
                d3.select("#id2").html(value);
            });

        });


        function dragstarted(d) {
            if (!d3.event.active) simulation.alphaTarget(0.3).restart()
            d.fx = d.x;
            d.fy = d.y;
        }

        function dragged(d) {
            d.fx = d3.event.x;
            d.fy = d3.event.y;
        }

        function dragended(d) {
            if (!d3.event.active) simulation.alphaTarget(0);
            d.fx = null;
            d.fy = null;
        }

    }



</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>